<div class="row justify-content-center">
  <div class="col-sm-12 col-md-6">
    <h2><%= t "welcome_to_guest_control" %></h2>
    <p>Give a guest temporary control of your Chamberlain garage door with a simple link.</p>
  </div>
</div>
